<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>

    <handlers>
      <remove name="WebDAV" />
      <remove name="iisnode" />
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;"
      loggingEnabled="false"
      devErrorsEnabled="true"
      watchedFiles="web.config;*.js"
    />

    <rewrite>
      <rules>
        <rule name="ApiRequests" stopProcessing="true">
          <match url="^api\/" />
          <action type="Rewrite" url="index.js" />
        </rule>

        <rule name="SpaFallback">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
